.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: var(--white);
  .scrollable {
    .columns {
      display: flex;
      gap: 1rem;
    }
  }
  .add_column_button {
    transform: rotate(90deg);
  }
}